<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/index}">
<body>
    <div layout:fragment="content">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Category</h1>
                <hr>
            </div>
            <div class ="container">
                <!-- <div class = "box"> -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class = "card-tittle">
                                <a th:href="@{~/admin/category/insert}"><button class ="btn btn-primary" method="get" style = "float:left">Insert</button></a>
                                <br>
                            </div>
                            <br>
                            <div class="table-responsive">

                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Category name</th>
                                        <th>Create date</th>
                                        <th>Update date</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="list:${listCategory}">
                                        <td th:utext="${list.id }"></td>
                                        <td th:utext="${list.name }"></td>
                                        <td th:utext="${list.createdAt }"></td>
                                        <td th:utext="${list.updatedAt }"></td>
                                        <td><a class="text-danger" th:href="@{/admin/category/delete(id=${list.id})}" onclick = "myFunction()">Delete</a>
                                            <script>
                                                function myFunction() {
                                                    if(confirm("Bạn chắc chắn muốn xoá?") == true) {
                                                        document.getElementById("id").submit();
                                                    }
                                                    else {
                                                        event.preventDefault();
                                                        return;
                                                    }
                                                }
                                            </script>
                                        </td>
                                        <td><a th:href="@{~/admin/category/update(id=${list.id})}">Update</a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    </div>
</body>
</html>