<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <h3>Add a new Product</h3>
        <form th:action="@{/admin/product/insert}" method="post" th:object="${product}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-5">

                    <input type="hidden" name="id" th:field="*{id}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" required th:field="*{name}" name="name" id="name"
                               placeholder="Enter name">
                    </div>
                    <div class="form-group">
                        <label for="description">Product Description</label>
                        <textarea class="form-control" rows="5" th:field="*{description}" name="description" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" required th:field="*{salePrice}" name="price" id="price"
                               placeholder="Price">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input type="number" class="form-control" required th:field="*{quantity}" name="quantity" id="quantity"
                               placeholder="Weight">
                    </div>
                    <div class="form-group">
                        <label for="category">Select Category</label>
                        <select class="form-control" th:field="*{categoryId}" id="category" name="category">
                            <option th:each="category :${listcategory}"
                                    th:value="${category.id}"
                                    th:text="${category.name}"
                            >
                        </select>
                    </div>


                </div>
                <div class="col-sm-5">
                    <p>Product Image</p>
                    <div class="custom-file">
                        <input type="file"  class="custom-file-input" name="productImage" accept="image/jpeg, image/png, image/jpg"  id="productImage" onclick="readURL(productImage)"/>
                        <label class="custom-file-label" for="productImage">Choose file</label>
                    </div>
                    <div class="form-group">
                        <img src="#" id="imgPreview" height="100px" width="100px" th:src="@{${'/productImages/' + product.image}}" style="margin-top: 20px" alt=" ">
                    </div>
                    <input type="hidden" name="imgName" th:value="${product.image}">
                    <button type="submit" class="btn btn-primary">Submit
                        <script>
                            function readURL(input){
                                if(input.files && input.files[0]){
                                    var reader = new FileReader();
                                    reader.onload = function(e){
                                        $('#imgPreview').attr('src', e.target.result).width(100).height(100);
                                    }
                                    reader.readAsDataURL(input.files[0])
                                }
                            }
                            $('#productImage').change(function(){
                                readURL(this);
                            });
                            $(".custom-file-input").on("change", function() {
                                var fileName = $(this).val().split("\\").pop();
                                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                            });
                        </script>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>
</html>